body {background-color: #89cff0; text-align: center; font-family: monospace; font-size: 30px}
.img-container {background-color: #800000; max-height: 500px; border: 2px solid yellow; text-align: center;}
img {width: 150px;}
p{text-align: center;}
h3 {text-align: center;}
.container {background-image: url("Header.jpg"); display: flex; flex-direction: column; left: 300}
img.one {height: 90%; width: 90%;}
img.two {height: 40%; width: 70%}